body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}


:root {
  --text-color-1: #FFFFFF;
  --text-color-2: #BF9766;
  --text-color-3: #BDBDBD;
  --background-banner: linear-gradient(180deg, #222121 0%, rgba(34, 33, 33, 0.24) 54.21%, #222121 100%);
  --background-1: #2D2C2C;
  --background-2: #D9D9D9;
  --background-3: #575656;
  --background-4: #8F714D;
  --letter-spacing-text: 4px;
  --font-size-h1: 4rem;
}

/* Navbar */

.NavBg {
  background: var(--background-1);
  z-index: 9999;
}

.NavBar .NavMenu{
  position: relative;
}

.NavBar .NavMenu:hover{
  cursor: pointer;
}

.NavBar .NavMenu p,
.NavBar .NavMenu a{
  color: var(--text-color-1);
}

.NavBar .NavMenu a {
  text-decoration: none;
}

.NavBar .NavMenu p.Active{
  color: var(--text-color-2);
}

.NavBar .NavMenu .ActiveCircle {
  width: 5px;
  height: 5px;
  background-color: var(--text-color-2);
  border-radius: 50%;
}

.NavBar .NavMenu .SubMenuContainer {
  background-color: var(--text-color-1);
  width: 200px;
  position: absolute;
  left: -55px;
  top: 45px;
  transition: 1s linear all;
}

.NavBar .NavMenu .SubMenuContainer p {
  color: var(--text-color-3);
}

.NavBar .NavMenu .SubMenuContainer a {
  color: var(--text-color-3);
  text-decoration: none;
}

.NavBar .NavMenu .SubMenuContainer p.Active {
  color: var(--text-color-2);
}

/* Home */

.Home .Banner {
  background: var(--background-banner);
  height: 100vh;
}

.Home .Banner p {
  text-transform: uppercase;
  color: var(--text-color-2);
  letter-spacing: var(--letter-spacing-text);
  font-size: 1.5rem;
}

.Home .Banner h1 {
  color: var(--text-color-1);
  font-size: var(--font-size-h1);
  font-weight: normal;
}

.Home .Banner .DiscoverButton {
  position: relative;
}

.Home .Banner .DiscoverButton,
.Home .Services .DiscoverButton {
  border: none;
  border-top: 1px solid var(--text-color-1);
  border-bottom: 1px solid var(--text-color-1);
  background: none;
  font-style: italic;
  color: var(--text-color-1);
}

.Home .Banner .DiscoverButton.Medium {
  width: 200px;
}

.Home .Banner .DiscoverButton.Large {
  width: 230px;
}

.Home .Banner .DiscoverButton.Fill {
  border: 1px solid var(--text-color-3);
  border-radius: 10px;
}

.Home .Banner .DiscoverButton .Edit {
  visibility: hidden;
  position: absolute;
  right: 3px;
}

.Home .Banner .DiscoverButton:hover .Edit {
  visibility: visible;
  position: absolute;
  right: 3px;
}

.Home .Banner .AddButton {
  border: 1px dashed var(--text-color-3);
  background: none;
  border-radius: 5px;
  color: var(--text-color-3);
}

.Home .Availability {
  position: relative;
  top: -70px;
}

.Home .Availability .Box {
  width: 80%;
  background: var(--background-1);
}

.Home .Availability .Box h5 {
  color: var(--text-color-1);
  font-weight: normal;
}

.Home .Availability .Box select{
  width: 100px;
  background-color: var(--background-3);
  border: none;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  color: var(--text-color-2);
}

.Home .Availability .Box select:focus {
  outline: none;
}

.Home .Availability .Box .SpanBox {
  width: 20px;
  height: 50px;
  background-color: var(--background-3);
}

.Home .Availability .Box p {
  color: var(--text-color-2);
}

.Home .RoomChoices .RoomTitle {
  color: var(--text-color-2);
  letter-spacing: var(--letter-spacing-text);
  text-transform: uppercase;
}

.Home .RoomChoices .RoomHeading h1 {
  font-weight: normal;
  font-size: var(--font-size-h1);
}

.Home .RoomChoices .RoomCardContainer {
  position: relative;
  height: 300px;
  background: var(--background-banner);
  overflow: hidden;
}

.Home .RoomChoices .RoomCardContainer .EditContainer,
.Home .Services .ServiceCardContainer .EditContainer,
.Home .ExpertTeam .TeamCard .EditContainer {
  background: var(--text-color-1);
  width: fit-content;
  position: absolute;
  border-radius: 10px;
  top: 40%;
  left: 50%;
  visibility: hidden;
  cursor: pointer;
}

.Home .RoomChoices .RoomCardContainer:hover .EditContainer,
.Home .Services .ServiceCardContainer:hover .EditContainer,
.Home .ExpertTeam .TeamCard:hover .EditContainer {
  visibility: visible;
}

.Home .RoomChoices .RoomCardContainer .RoomCard {
  transform: translateY(85%);
  transition: 0.5s all linear;
  cursor: pointer;
}

.Home .RoomChoices .RoomCardContainer .RoomCard:hover {
  transform: translateY(60%);
}

.Home .RoomChoices .RoomCardContainer .RoomCard p,
.Home .RoomChoices .RoomCardContainer .RoomCard h1 {
  color: var(--text-color-1);
}

.Home .RoomChoices .RoomCardContainer .RoomCard:hover .StraightLine {
  width: 100%;
}

.Home .RoomChoices .RoomCardContainer .RoomCard .StraightLine {
  width: 10%;
  height: 1px;
  background-color: var(--text-color-1);
  transition: 0.5s all linear;
}

.Home .RoomChoices .RoomCardContainer .RoomCard .BookNow {
  background: none;
  border: none;
  color: var(--text-color-2);
}

.Home .Services .ServiceTextContainer .ServiceTitle {
  color: var(--text-color-2);
  letter-spacing: var(--letter-spacing-text);
  text-transform: uppercase;
}

.Home .Services .ServiceTextContainer .ServiceHeading h1 {
  font-weight: normal;
  font-size: var(--font-size-h1);
}

.Home .Services .ServiceCardContainer {
  background-color: var(--background-1);
  position: relative;
}

.Home .Services .ServiceCardContainer.NoService {
  background-color: var(--background-2);
}

.Home .Services .ServiceCardContainer h5,
.Home .Services .ServiceCardContainer p {
  color: var(--text-color-1);
}

.Home .Services .ServiceCardContainer .DiscoverButton:hover {
  border-top: 1px solid var(--text-color-2);
  border-bottom: 1px solid var(--text-color-2);
  color: var(--text-color-2);
}

.Home .CustomerReview {
  background: var(--background-banner);
  height: 100vh;
}

.Home .CustomerReview .ReviewTitle {
  color: var(--text-color-2);
  letter-spacing: var(--letter-spacing-text);
  text-transform: uppercase;
}

.Home .CustomerReview .ReviewHeading h1 {
  font-weight: normal;
  color: var(--text-color-1);
  font-size: var(--font-size-h1);
}

.Home .Review {
  position: relative;
  top: -150px;
}

.Home .Review .NoSection {
  background: var(--background-2);
}

.Home .Review .Section {
  background: var(--background-1);
}

.Home .Review .Section .Text {
  color: var(--text-color-1);
}

.Home .Review .Section .Author {
  color: var(--text-color-2);
}

.Home .Review .Section .Type {
  color: var(--text-color-1);
}

.Home .ExpertTeam .TeamTitle {
  color: var(--text-color-2);
  letter-spacing: var(--letter-spacing-text);
  text-transform: uppercase;
}

.Home .ExpertTeam .TeamHeading h1 {
  font-weight: normal;
  font-size: var(--font-size-h1);
}

.Home .ExpertTeam .TeamCard {
  width: 250px;
  overflow: hidden;
  position: relative;
}

.Home .ExpertTeam .TeamCard .Cover {
  height: 300px;
  background: var(--background-banner);
}

.Home .ExpertTeam .TeamCard .Cover .SocialMedia {
  transform: translateX(160%);
  transition: 0.1s linear all;
}

.Home .ExpertTeam .TeamCard:hover .Cover .SocialMedia {
  transform: translateX(0%);
}

.Home .ExpertTeam .TeamCard .Cover .SocialMedia img {
  cursor: pointer;
}

.Home .ExpertTeam .TeamCard .Text {
  border-left: 1px solid var(--text-color-2);
}

.Home .ExpertTeam .TeamCard .Text .Name h4 {
  font-size: normal;
}

.Home .ExpertTeam .TeamCard .Text .Profession {
  color: var(--text-color-2);
}

/* Service */


.ServicePage .Banner {
  background: var(--background-banner);
  height: 100vh;
}

.ServicePage .Banner p {
  text-transform: uppercase;
  color: var(--text-color-2);
  letter-spacing: var(--letter-spacing-text);
  font-size: 1.5rem;
}

.ServicePage .Banner h1 {
  color: var(--text-color-1);
  font-size: var(--font-size-h1);
  font-weight: normal;
}

.ServicePage .Services .DiscoverButton {
  border: none;
  border-top: 1px solid var(--text-color-1);
  border-bottom: 1px solid var(--text-color-1);
  background: none;
  font-style: italic;
  color: var(--text-color-1);
}

.ServicePage .Services .ServiceTextContainer .ServiceTitle {
  color: var(--text-color-2);
  letter-spacing: var(--letter-spacing-text);
  text-transform: uppercase;
}

.ServicePage .Services .ServiceTextContainer .ServiceHeading h1 {
  font-weight: normal;
  font-size: var(--font-size-h1);
}

.ServicePage .Services .ServiceCardContainer {
  background-color: var(--background-1);
  position: relative;
}

.ServicePage .Services .ServiceCardContainer.NoService {
  background-color: var(--background-2);
}

.ServicePage .Services .ServiceCardContainer h5,
.ServicePage .Services .ServiceCardContainer p {
  color: var(--text-color-1);
}

.ServicePage .Services .ServiceCardContainer .DiscoverButton:hover {
  border-top: 1px solid var(--text-color-2);
  border-bottom: 1px solid var(--text-color-2);
  color: var(--text-color-2);
}

.ServicePage .Services .ServiceCardContainer .EditContainer {
  background: var(--text-color-1);
  width: fit-content;
  position: absolute;
  border-radius: 10px;
  top: 40%;
  left: 50%;
  visibility: hidden;
  cursor: pointer;
}

.ServicePage .Services .ServiceCardContainer:hover .EditContainer {
  visibility: visible;
}

.ServicePage .Experience {
  height: 60vh;
}

.ServicePage .Experience .Box{
  position: relative;
}

.ServicePage .Experience .Background {
  background: var(--background-banner);
  height: 80%;
}

.ServicePage .Experience .Background .BackgroundHeading h1{
  color: var(--text-color-1);
  font-weight: normal;
}

.ServicePage .Experience .Availability {
  position:absolute;
  background: var(--text-color-2);
  width: 30%;
  top: 0;
  right: 100px;
  height: 100%;
}

.ServicePage .Experience .Availability .DateInputContainer .DateInput {
  background: var(--background-4);
  color: var(--text-color-1);
  width: 290px;
}

.ServicePage .Experience .Availability .DateInputContainer .CalendarButton button {
  background: var(--background-4);
}

.ServicePage .Experience .Availability select{
  width: 100px;
  background-color: var(--background-4);
  border: none;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  color: var(--text-color-1);
}

.ServicePage .Experience .Availability select:focus {
  outline: none;
}

.ServicePage .Experience .Availability .SpanBox {
  width: 20px;
  height: 50px;
  background-color: var(--background-4);
}

.ServicePage .Experience .Availability p {
  color: var(--text-color-1);
}

/* DateInput */

.DateInputContainer {
  position: relative;
  float: left;
  background: var(--background-3);
}

.DateInputContainer .DateInput {
  /* padding: 5px 10px; */
  height: 30px;
  width: 200px;
  background-color: var(--background-3);
  color: var(--text-color-2);
  border: none;
}

.DateInputContainer .CalendarButton {
  position: absolute;
  top: 10px;
  right: 8px;
  width: 25px;
  height: 25px;
  background: #fff;
  pointer-events: none;
}

.DateInputContainer .CalendarButton button {
  border: none;
  background-color: var(--background-3);
}


/* Vertical Line */

.VerticalLine {
  width: 1px;
  height: 100px;
  background-color: var(--text-color-2);
}

.VerticalLine.White {
  background-color: var(--text-color-1);
}

/* Horizontal Line */

.HorizontalLine {
  width: 100%;
  height: 1px;
  background-color: var(--text-color-1);
  transition: 0.5s all linear;
}

/* Popup */

.PopupContainer {
  position: fixed;
  background-color: #00000055;
  /* width: 100%;
  height: 100%; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.PopupContainer .Box {
  min-width: 500px;
  background-color: var(--text-color-1);
  border-radius: 10px;
}

.PopupContainer .Box .Close img {
  cursor: pointer;
}

.PopupContainer .Box .AddButton select,
.PopupContainer .Box .AddButton input {
  width: 150px;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
}

.PopupContainer .Box .AddButton select:focus,
.PopupContainer .Box .AddButton select:active,
.PopupContainer .Box .AddButton select:focus-within {
  outline: none;
}

.PopupContainer .Box .AddButton textarea {
  width: 100%;
  resize: none;
  min-height: 200px;
}

.PopupContainer .Box .AddButton .ColorPicker {
  border: 1px solid black;
  width: 150px;
  height: 30px;
  border-radius: 5px;
}

.PopupContainer .Box .AddButton .ColorPicker input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 50px;
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.PopupContainer .Box .AddButton .ColorPicker input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  border: 1px solid black;
}

.PopupContainer .Box .AddButton .Buttons .Save button {
  background-color: var(--text-color-2);
  color: var(--text-color-1);
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
}

.PopupContainer .Box .AddButton .Buttons .Delete button {
  background-color: transparent;
  color: red;
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
}

/* Footer */

.Footer {
  background: var(--background-1);
}

.Footer .Logo p {
  color: var(--text-color-1);
}

.Footer .Links p,
.Footer .Subscribe p {
  color: var(--text-color-1);
  text-transform: uppercase;
}

.Footer .Subscribe p {
  text-transform: none;
}

.Footer .Links p.Title,
.Footer .Subscribe p.Title {
  text-transform: uppercase;
  color: var(--text-color-2);
}

.Footer .Subscribe .Email input {
  background: var(--background-3);
  color: var(--text-color-2);
  border: none;
}

.Footer .Subscribe .Email input::placeholder {
  color: var(--text-color-2);
}

.Footer .Subscribe .Email input:focus {
  outline: none;
}

.Footer .Subscribe .Email button {
  background: var(--text-color-2);
  border: none;
}

.Footer .Copyright p{
  color: var(--text-color-1);
}